* {
  font-family: "Permanent Marker", cursive;
}

body{
    background-image: url(../images/slushBG.jpg);
}

/* HEADER */
.wholeNav > * {
  font-size: 2.5em !important;
  color: rgb(255, 4, 255);
 
}

.wholeNav > .headerTitle{
 color: rgb(255, 4, 255);
}



.aboutHeader {
  align-content: flex-end !important;
  flex-grow: 0 !important;
  
}

.aboutHeader > .homeAndAboutContainer > #homeNav , #homeNav + a  {
    color: rgb(255, 4, 255) ;
 }

/* HOME */

.homeHeading{
    font-size: 3em;
}

.homeText{
    font-size: 1.5em;
    color: rgb(255, 4, 255) ;
    text-shadow: 2px 8px 5px rgb(0, 0, 0);
    word-wrap: break-word;
    text-align: justify;
}
