* {
  font-family: "Permanent Marker", cursive;
}

body {
  background-image: url(../images/slushBGPortrait.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER */
.wholeNav > * {
  font-size: 2.5em !important;
  color: rgb(255, 4, 255);
}

.wholeNav > .headerTitle {
  color: rgb(255, 4, 255);
}

.aboutHeader {
  align-content: flex-end !important;
  flex-grow: 0 !important;
}

.aboutHeader > .homeAndAboutContainer > #homeNav,
#homeNav + a {
  color: rgb(255, 4, 255);
}

/* HOME */

.homeHeading {
  font-size: 3em;
  /* text-decoration: underline; */
  text-shadow: 2px 8px 5px rgba(0, 0, 0, 0.716);
  color: rgb(255, 4, 255);
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: rgba(10, 9, 10, 0.657);
}

.homeText {
  font-size: 1em;
  text-align: center;
  color: rgb(253, 0, 253);
  text-shadow: 2px 8px 5px rgb(0, 0, 0);
  /* word-wrap: break-word; */
  text-align: center;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: rgba(10, 9, 10, 0.657);
  /* font-family: 'Kanit', sans-serif; */
}


.fbPost {
 
  /* width: 100vw; */
  
  border:none;
  
  
  /* min-height: 10vh; */
/* height: 45vh; */
  /* max-height: 70vh; */
  /* max-height: 50vh; */
 /* width: 100vw; */
 /* height: 30vh; */
  /* margin-bottom: 6%; */
  overflow: scroll !important;
}
  #fDiv{
  
  display: flex;
  justify-content: center;
}  
/* 
iframe{
  display: flex;
  justify-content: center;
  margin: 0% !important;
  padding: 0% !important;
} */

.lineDiv {
  border-top: 1px solid rgb(253, 0, 253);
  width: 80%;
  text-align: center;
  color: rgba(240, 248, 255, 0);
}

.allPics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

.homePic {
  flex: 0 1 50%;
  max-width: 100vw;
  /* max-height: 60vh; */
  margin-bottom: 5%;
  border: 5px solid black;
}

.homePicLG {
  max-width: 50vw !important;
  max-height: 85vh;
  margin-bottom: 5%;
}

@media screen and (min-width: 900px) {
  .fbPost {
    width: 70vw;
  }
}
@media screen and (min-width: 1100px) {
  .fbPost {
    width: 45vw;
  }
}

@media screen and (max-width: 850px) {
  .fbPost {
    width: 90vw;
   
    margin-bottom: 10%;
  }

  .homePicLG {
    max-width: 100vw !important;
    max-height: 100vh;
  }
}
